section {
  padding: 4rem 0 14rem 0;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  background-image: url("../img/header.jpg");
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
header.masthead {
  padding-top: 6rem;
}
.main-menu {
  bottom: 0 !important;
}